<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Stock Analyzer</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.08ebd5681d83b20b4be6.css') }}"></head>

<body>
  <app-root></app-root>

<script src="{{ url_for('static', filename='js/runtime-es2015.aa7227ac6ff315444d21.js') }}" type="module"></script>
<script src="{{ url_for('static', filename='js/runtime-es5.aa7227ac6ff315444d21.js') }}" nomodule defer></script>
<script src="{{ url_for('static', filename='js/polyfills-es5.b99d03b55a7026a57ccf.js') }}" nomodule defer></script>
<script src="{{ url_for('static', filename='js/polyfills-es2015.96bbc7efa79dce1843fe.js') }}" type="module"></script>
<script src="{{ url_for('static', filename='js/main-es2015.89107b6ca7ed528f3364.js') }}" type="module"></script>
<script src="{{ url_for('static', filename='js/main-es5.89107b6ca7ed528f3364.js') }}" nomodule defer></script>
</body>

</html>