<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Stock Analyzer</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.a151122e37effd88591a.css') }}"></head>

<body>
  <app-root></app-root>

<script src="{{ url_for('static', filename='js/runtime-es2015.e49e0f57b60039ced3e0.js') }}" type="module"></script>
<script src="{{ url_for('static', filename='js/runtime-es5.e49e0f57b60039ced3e0.js') }}" nomodule defer></script>
<script src="{{ url_for('static', filename='js/polyfills-es5.b3a55d4a0fead91f9a66.js') }}" nomodule defer></script>
<script src="{{ url_for('static', filename='js/polyfills-es2015.73aae70cb16c49525a0c.js') }}" type="module"></script>
<script src="{{ url_for('static', filename='js/main-es2015.67c8391868f089499231.js') }}" type="module"></script>
<script src="{{ url_for('static', filename='js/main-es5.67c8391868f089499231.js') }}" nomodule defer></script>
</body>

</html>